.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    border: 5px solid #0b0b0b;
    background-color: #060606;
    justify-content: space-evenly;
    justify-items: center;
    grid-column-start: 1;
    grid-column-end: 1;
    height: 250px;
    object-fit: fill;
  }

figure {
    text-align: center;
    font-style: italic;
    font-size: .75em;
    }

h1 {
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    object-fit: contain;
    height: 400px;
}

header {
    background-color: #0b0b0b;
    color: #7cf227;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 400;
}

/* Navbar Element */
#navbar {
    overflow: hidden;
    background-color: #333;
    border-bottom: solid 15px #222;
}

#navbar a {
    float: left;
    display: block;
    color: rgb(2, 2, 2);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #080808;
    color: #7cf227;
    text-decoration: none;
}

/* Container Element */
#container {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

/* Card Element */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Card Title Element */
.card-title {
    text-align: center;
    font-size: 2em;
    color: #333;
    font-weight: 400;
}

/* Card Content Element */
.card-content {
    padding: 2px 16px;
}

/* Footer Element */
footer {
    background-color: #0c0c0c;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}

footer p {
    color: rgb(22, 22, 22);
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}

footer a {
    color: rgb(16, 16, 16);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
    padding: 10px 0;
}

footer img {
    object-fit: auto;
    height: 200px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Adjust the gap between images */
}

.grid-container img {
    max-width: 300px;
    height: auto;
}

.body-section {
    background-color: #7cf227;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    font-style: bold;
    font-size: .75em;
    font-weight: 800;
    font-size: larger;
    overflow-y: scroll; /* Always show vertical scrollbar */
    overscroll-behavior: 'auto-y';
    scroll-behavior: auto;
}